ble_pack Debounce_Switch_Inst.r_State_RNO_0_LC_1_8_6 { Debounce_Switch_Inst.r_State_RNO_0 }
clb_pack LT_1_8 { Debounce_Switch_Inst.r_State_RNO_0_LC_1_8_6 }
set_location LT_1_8 1 8
ble_pack Debounce_Switch_Inst.r_Count_RNI06FE1_10_LC_1_9_0 { Debounce_Switch_Inst.r_Count_RNI06FE1[10] }
ble_pack Debounce_Switch_Inst.r_State_RNO_3_LC_1_9_1 { Debounce_Switch_Inst.r_State_RNO_3 }
ble_pack Debounce_Switch_Inst.r_State_RNO_4_LC_1_9_2 { Debounce_Switch_Inst.r_State_RNO_4 }
ble_pack Debounce_Switch_Inst.r_Count_RNI2NVU1_4_LC_1_9_3 { Debounce_Switch_Inst.r_Count_RNI2NVU1[4] }
ble_pack Debounce_Switch_Inst.r_Count_RNIF5ES3_12_LC_1_9_4 { Debounce_Switch_Inst.r_Count_RNIF5ES3[12] }
ble_pack Debounce_Switch_Inst.r_State_RNIN6N95_LC_1_9_5 { Debounce_Switch_Inst.r_State_RNIN6N95 }
ble_pack Debounce_Switch_Inst.r_State_LC_1_9_6 { Debounce_Switch_Inst.r_State_RNO, Debounce_Switch_Inst.r_State }
clb_pack LT_1_9 { Debounce_Switch_Inst.r_Count_RNI06FE1_10_LC_1_9_0, Debounce_Switch_Inst.r_State_RNO_3_LC_1_9_1, Debounce_Switch_Inst.r_State_RNO_4_LC_1_9_2, Debounce_Switch_Inst.r_Count_RNI2NVU1_4_LC_1_9_3, Debounce_Switch_Inst.r_Count_RNIF5ES3_12_LC_1_9_4, Debounce_Switch_Inst.r_State_RNIN6N95_LC_1_9_5, Debounce_Switch_Inst.r_State_LC_1_9_6 }
set_location LT_1_9 1 9
ble_pack Debounce_Switch_Inst.r_Count_RNI6TUT_17_LC_1_10_0 { Debounce_Switch_Inst.r_Count_RNI6TUT[17] }
ble_pack Debounce_Switch_Inst.r_State_RNO_2_LC_1_10_1 { Debounce_Switch_Inst.r_State_RNO_2 }
ble_pack Debounce_Switch_Inst.r_State_RNO_5_LC_1_10_2 { Debounce_Switch_Inst.r_State_RNO_5 }
ble_pack Debounce_Switch_Inst.r_State_RNO_1_LC_1_10_3 { Debounce_Switch_Inst.r_State_RNO_1 }
ble_pack Debounce_Switch_Inst.r_Count_1_LC_1_10_5 { Debounce_Switch_Inst.r_Count_RNO[1], Debounce_Switch_Inst.r_Count[1] }
ble_pack Debounce_Switch_Inst.r_Count_0_LC_1_10_6 { Debounce_Switch_Inst.r_Count_RNO[0], Debounce_Switch_Inst.r_Count[0] }
clb_pack LT_1_10 { Debounce_Switch_Inst.r_Count_RNI6TUT_17_LC_1_10_0, Debounce_Switch_Inst.r_State_RNO_2_LC_1_10_1, Debounce_Switch_Inst.r_State_RNO_5_LC_1_10_2, Debounce_Switch_Inst.r_State_RNO_1_LC_1_10_3, Debounce_Switch_Inst.r_Count_1_LC_1_10_5, Debounce_Switch_Inst.r_Count_0_LC_1_10_6 }
set_location LT_1_10 1 10
ble_pack r_Switch_1_LC_1_11_0 { r_Switch_1_THRU_LUT4_0, r_Switch_1 }
clb_pack LT_1_11 { r_Switch_1_LC_1_11_0 }
set_location LT_1_11 1 11
ble_pack r_Switch_1_RNI63TI_LC_1_12_0 { r_Switch_1_RNI63TI }
ble_pack r_Count_2_LC_1_12_1 { r_Count_RNO[2], r_Count[2] }
ble_pack r_Count_RNO_0_3_LC_1_12_2 { r_Count_RNO_0[3] }
ble_pack r_Count_3_LC_1_12_3 { r_Count_RNO[3], r_Count[3] }
ble_pack r_Count_1_LC_1_12_4 { r_Count_RNO[1], r_Count[1] }
ble_pack Inst.r_Hex_Encoding_i_1_LC_1_12_5 { Inst.r_Hex_Encoding_2_6_0_.m10, Inst.r_Hex_Encoding_i[1] }
ble_pack r_Count_RNIEET6_3_LC_1_12_6 { r_Count_RNIEET6[3] }
ble_pack r_Count_0_LC_1_12_7 { r_Count_RNO[0], r_Count[0] }
clb_pack LT_1_12 { r_Switch_1_RNI63TI_LC_1_12_0, r_Count_2_LC_1_12_1, r_Count_RNO_0_3_LC_1_12_2, r_Count_3_LC_1_12_3, r_Count_1_LC_1_12_4, Inst.r_Hex_Encoding_i_1_LC_1_12_5, r_Count_RNIEET6_3_LC_1_12_6, r_Count_0_LC_1_12_7 }
set_location LT_1_12 1 12
ble_pack Inst.r_Hex_Encoding_i_6_LC_1_14_4 { Inst.r_Hex_Encoding_2_6_0_.m26, Inst.r_Hex_Encoding_i[6] }
clb_pack LT_1_14 { Inst.r_Hex_Encoding_i_6_LC_1_14_4 }
set_location LT_1_14 1 14
ble_pack Debounce_Switch_Inst.r_Count_2_cry_1_c_LC_2_9_0 { Debounce_Switch_Inst.r_Count_2_cry_1_c }
ble_pack Debounce_Switch_Inst.r_Count_2_LC_2_9_1 { Debounce_Switch_Inst.r_Count_RNO[2], Debounce_Switch_Inst.r_Count[2], Debounce_Switch_Inst.r_Count_2_cry_2_c }
ble_pack Debounce_Switch_Inst.r_Count_3_LC_2_9_2 { Debounce_Switch_Inst.r_Count_RNO[3], Debounce_Switch_Inst.r_Count[3], Debounce_Switch_Inst.r_Count_2_cry_3_c }
ble_pack Debounce_Switch_Inst.r_Count_4_LC_2_9_3 { Debounce_Switch_Inst.r_Count_RNO[4], Debounce_Switch_Inst.r_Count[4], Debounce_Switch_Inst.r_Count_2_cry_4_c }
ble_pack Debounce_Switch_Inst.r_Count_5_LC_2_9_4 { Debounce_Switch_Inst.r_Count_RNO[5], Debounce_Switch_Inst.r_Count[5], Debounce_Switch_Inst.r_Count_2_cry_5_c }
ble_pack Debounce_Switch_Inst.r_Count_6_LC_2_9_5 { Debounce_Switch_Inst.r_Count_RNO[6], Debounce_Switch_Inst.r_Count[6], Debounce_Switch_Inst.r_Count_2_cry_6_c }
ble_pack Debounce_Switch_Inst.r_Count_7_LC_2_9_6 { Debounce_Switch_Inst.r_Count_RNO[7], Debounce_Switch_Inst.r_Count[7], Debounce_Switch_Inst.r_Count_2_cry_7_c }
ble_pack Debounce_Switch_Inst.r_Count_8_LC_2_9_7 { Debounce_Switch_Inst.r_Count_RNO[8], Debounce_Switch_Inst.r_Count[8], Debounce_Switch_Inst.r_Count_2_cry_8_c }
clb_pack LT_2_9 { Debounce_Switch_Inst.r_Count_2_cry_1_c_LC_2_9_0, Debounce_Switch_Inst.r_Count_2_LC_2_9_1, Debounce_Switch_Inst.r_Count_3_LC_2_9_2, Debounce_Switch_Inst.r_Count_4_LC_2_9_3, Debounce_Switch_Inst.r_Count_5_LC_2_9_4, Debounce_Switch_Inst.r_Count_6_LC_2_9_5, Debounce_Switch_Inst.r_Count_7_LC_2_9_6, Debounce_Switch_Inst.r_Count_8_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack Debounce_Switch_Inst.r_Count_9_LC_2_10_0 { Debounce_Switch_Inst.r_Count_RNO[9], Debounce_Switch_Inst.r_Count[9], Debounce_Switch_Inst.r_Count_2_cry_9_c }
ble_pack Debounce_Switch_Inst.r_Count_10_LC_2_10_1 { Debounce_Switch_Inst.r_Count_RNO[10], Debounce_Switch_Inst.r_Count[10], Debounce_Switch_Inst.r_Count_2_cry_10_c }
ble_pack Debounce_Switch_Inst.r_Count_11_LC_2_10_2 { Debounce_Switch_Inst.r_Count_RNO[11], Debounce_Switch_Inst.r_Count[11], Debounce_Switch_Inst.r_Count_2_cry_11_c }
ble_pack Debounce_Switch_Inst.r_Count_12_LC_2_10_3 { Debounce_Switch_Inst.r_Count_RNO[12], Debounce_Switch_Inst.r_Count[12], Debounce_Switch_Inst.r_Count_2_cry_12_c }
ble_pack Debounce_Switch_Inst.r_Count_13_LC_2_10_4 { Debounce_Switch_Inst.r_Count_RNO[13], Debounce_Switch_Inst.r_Count[13], Debounce_Switch_Inst.r_Count_2_cry_13_c }
ble_pack Debounce_Switch_Inst.r_Count_14_LC_2_10_5 { Debounce_Switch_Inst.r_Count_RNO[14], Debounce_Switch_Inst.r_Count[14], Debounce_Switch_Inst.r_Count_2_cry_14_c }
ble_pack Debounce_Switch_Inst.r_Count_15_LC_2_10_6 { Debounce_Switch_Inst.r_Count_RNO[15], Debounce_Switch_Inst.r_Count[15], Debounce_Switch_Inst.r_Count_2_cry_15_c }
ble_pack Debounce_Switch_Inst.r_Count_16_LC_2_10_7 { Debounce_Switch_Inst.r_Count_RNO[16], Debounce_Switch_Inst.r_Count[16], Debounce_Switch_Inst.r_Count_2_cry_16_c }
clb_pack LT_2_10 { Debounce_Switch_Inst.r_Count_9_LC_2_10_0, Debounce_Switch_Inst.r_Count_10_LC_2_10_1, Debounce_Switch_Inst.r_Count_11_LC_2_10_2, Debounce_Switch_Inst.r_Count_12_LC_2_10_3, Debounce_Switch_Inst.r_Count_13_LC_2_10_4, Debounce_Switch_Inst.r_Count_14_LC_2_10_5, Debounce_Switch_Inst.r_Count_15_LC_2_10_6, Debounce_Switch_Inst.r_Count_16_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack Debounce_Switch_Inst.r_Count_17_LC_2_11_0 { Debounce_Switch_Inst.r_Count_RNO[17], Debounce_Switch_Inst.r_Count[17] }
clb_pack LT_2_11 { Debounce_Switch_Inst.r_Count_17_LC_2_11_0 }
set_location LT_2_11 2 11
ble_pack Inst.r_Hex_Encoding_i_4_LC_2_14_1 { Inst.r_Hex_Encoding_2_6_0_.r_Hex_Encoding_2_i[4], Inst.r_Hex_Encoding_i[4] }
ble_pack Inst.r_Hex_Encoding_i_3_LC_2_14_2 { Inst.r_Hex_Encoding_2_6_0_.r_Hex_Encoding_2_i[3], Inst.r_Hex_Encoding_i[3] }
ble_pack Inst.r_Hex_Encoding_i_5_LC_2_14_3 { Inst.r_Hex_Encoding_2_6_0_.r_Hex_Encoding_2_i[5], Inst.r_Hex_Encoding_i[5] }
ble_pack Inst.r_Hex_Encoding_i_0_LC_2_14_4 { Inst.r_Hex_Encoding_2_6_0_.m5, Inst.r_Hex_Encoding_i[0] }
ble_pack Inst.r_Hex_Encoding_i_2_LC_2_14_6 { Inst.r_Hex_Encoding_2_6_0_.m14, Inst.r_Hex_Encoding_i[2] }
clb_pack LT_2_14 { Inst.r_Hex_Encoding_i_4_LC_2_14_1, Inst.r_Hex_Encoding_i_3_LC_2_14_2, Inst.r_Hex_Encoding_i_5_LC_2_14_3, Inst.r_Hex_Encoding_i_0_LC_2_14_4, Inst.r_Hex_Encoding_i_2_LC_2_14_6 }
set_location LT_2_14 2 14
set_location Debounce_Switch_Inst.r_State_RNIN6N95_0 0 8
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_D 95
set_io o_Segment2_B 99
set_io i_Clk 15
set_io o_Segment2_E 94
set_io o_Segment2_A 100
