set_location Instance.r_Count_RNI3MNN2[12] 1 7 2 # SB_LUT4 (LogicCell: Instance.r_Count_RNI3MNN2[12]_LC_0)
set_location Instance.r_Count_RNI8Q7U[10] 1 7 1 # SB_LUT4 (LogicCell: Instance.r_Count_RNI8Q7U[10]_LC_1)
set_location Instance.r_Count_RNIA7GM1[4] 1 6 4 # SB_LUT4 (LogicCell: Instance.r_Count_RNIA7GM1[4]_LC_2)
set_location Instance.r_Count_RNIELV5[17] 1 6 7 # SB_LUT4 (LogicCell: Instance.r_Count_RNIELV5[17]_LC_3)
set_location Instance.r_Count_RNO[0] 2 7 2 # SB_LUT4 (LogicCell: Instance.r_Count[0]_LC_4)
set_location Instance.r_Count[0] 2 7 2 # SB_DFFSR (LogicCell: Instance.r_Count[0]_LC_4)
set_location Instance.r_Count_RNO[1] 2 7 5 # SB_LUT4 (LogicCell: Instance.r_Count[1]_LC_5)
set_location Instance.r_Count[1] 2 7 5 # SB_DFFSR (LogicCell: Instance.r_Count[1]_LC_5)
set_location Instance.r_Count_RNO[10] 2 6 1 # SB_LUT4 (LogicCell: Instance.r_Count[10]_LC_6)
set_location Instance.r_Count[10] 2 6 1 # SB_DFFSR (LogicCell: Instance.r_Count[10]_LC_6)
set_location Instance.r_Count_2_cry_10_c 2 6 1 # SB_CARRY (LogicCell: Instance.r_Count[10]_LC_6)
set_location Instance.r_Count_RNO[11] 2 6 2 # SB_LUT4 (LogicCell: Instance.r_Count[11]_LC_7)
set_location Instance.r_Count[11] 2 6 2 # SB_DFFSR (LogicCell: Instance.r_Count[11]_LC_7)
set_location Instance.r_Count_2_cry_11_c 2 6 2 # SB_CARRY (LogicCell: Instance.r_Count[11]_LC_7)
set_location Instance.r_Count_RNO[12] 2 6 3 # SB_LUT4 (LogicCell: Instance.r_Count[12]_LC_8)
set_location Instance.r_Count[12] 2 6 3 # SB_DFFSR (LogicCell: Instance.r_Count[12]_LC_8)
set_location Instance.r_Count_2_cry_12_c 2 6 3 # SB_CARRY (LogicCell: Instance.r_Count[12]_LC_8)
set_location Instance.r_Count_RNO[13] 2 6 4 # SB_LUT4 (LogicCell: Instance.r_Count[13]_LC_9)
set_location Instance.r_Count[13] 2 6 4 # SB_DFFSR (LogicCell: Instance.r_Count[13]_LC_9)
set_location Instance.r_Count_2_cry_13_c 2 6 4 # SB_CARRY (LogicCell: Instance.r_Count[13]_LC_9)
set_location Instance.r_Count_RNO[14] 2 6 5 # SB_LUT4 (LogicCell: Instance.r_Count[14]_LC_10)
set_location Instance.r_Count[14] 2 6 5 # SB_DFFSR (LogicCell: Instance.r_Count[14]_LC_10)
set_location Instance.r_Count_2_cry_14_c 2 6 5 # SB_CARRY (LogicCell: Instance.r_Count[14]_LC_10)
set_location Instance.r_Count_RNO[15] 2 6 6 # SB_LUT4 (LogicCell: Instance.r_Count[15]_LC_11)
set_location Instance.r_Count[15] 2 6 6 # SB_DFFSR (LogicCell: Instance.r_Count[15]_LC_11)
set_location Instance.r_Count_2_cry_15_c 2 6 6 # SB_CARRY (LogicCell: Instance.r_Count[15]_LC_11)
set_location Instance.r_Count_RNO[16] 2 6 7 # SB_LUT4 (LogicCell: Instance.r_Count[16]_LC_12)
set_location Instance.r_Count[16] 2 6 7 # SB_DFFSR (LogicCell: Instance.r_Count[16]_LC_12)
set_location Instance.r_Count_2_cry_16_c 2 6 7 # SB_CARRY (LogicCell: Instance.r_Count[16]_LC_12)
set_location Instance.r_Count_RNO[17] 2 7 0 # SB_LUT4 (LogicCell: Instance.r_Count[17]_LC_13)
set_location Instance.r_Count[17] 2 7 0 # SB_DFFSR (LogicCell: Instance.r_Count[17]_LC_13)
set_location Instance.r_Count_RNO[2] 2 5 1 # SB_LUT4 (LogicCell: Instance.r_Count[2]_LC_14)
set_location Instance.r_Count[2] 2 5 1 # SB_DFFSR (LogicCell: Instance.r_Count[2]_LC_14)
set_location Instance.r_Count_2_cry_2_c 2 5 1 # SB_CARRY (LogicCell: Instance.r_Count[2]_LC_14)
set_location Instance.r_Count_RNO[3] 2 5 2 # SB_LUT4 (LogicCell: Instance.r_Count[3]_LC_15)
set_location Instance.r_Count[3] 2 5 2 # SB_DFFSR (LogicCell: Instance.r_Count[3]_LC_15)
set_location Instance.r_Count_2_cry_3_c 2 5 2 # SB_CARRY (LogicCell: Instance.r_Count[3]_LC_15)
set_location Instance.r_Count_RNO[4] 2 5 3 # SB_LUT4 (LogicCell: Instance.r_Count[4]_LC_16)
set_location Instance.r_Count[4] 2 5 3 # SB_DFFSR (LogicCell: Instance.r_Count[4]_LC_16)
set_location Instance.r_Count_2_cry_4_c 2 5 3 # SB_CARRY (LogicCell: Instance.r_Count[4]_LC_16)
set_location Instance.r_Count_RNO[5] 2 5 4 # SB_LUT4 (LogicCell: Instance.r_Count[5]_LC_17)
set_location Instance.r_Count[5] 2 5 4 # SB_DFFSR (LogicCell: Instance.r_Count[5]_LC_17)
set_location Instance.r_Count_2_cry_5_c 2 5 4 # SB_CARRY (LogicCell: Instance.r_Count[5]_LC_17)
set_location Instance.r_Count_RNO[6] 2 5 5 # SB_LUT4 (LogicCell: Instance.r_Count[6]_LC_18)
set_location Instance.r_Count[6] 2 5 5 # SB_DFFSR (LogicCell: Instance.r_Count[6]_LC_18)
set_location Instance.r_Count_2_cry_6_c 2 5 5 # SB_CARRY (LogicCell: Instance.r_Count[6]_LC_18)
set_location Instance.r_Count_RNO[7] 2 5 6 # SB_LUT4 (LogicCell: Instance.r_Count[7]_LC_19)
set_location Instance.r_Count[7] 2 5 6 # SB_DFFSR (LogicCell: Instance.r_Count[7]_LC_19)
set_location Instance.r_Count_2_cry_7_c 2 5 6 # SB_CARRY (LogicCell: Instance.r_Count[7]_LC_19)
set_location Instance.r_Count_RNO[8] 2 5 7 # SB_LUT4 (LogicCell: Instance.r_Count[8]_LC_20)
set_location Instance.r_Count[8] 2 5 7 # SB_DFFSR (LogicCell: Instance.r_Count[8]_LC_20)
set_location Instance.r_Count_2_cry_8_c 2 5 7 # SB_CARRY (LogicCell: Instance.r_Count[8]_LC_20)
set_location Instance.r_Count_RNO[9] 2 6 0 # SB_LUT4 (LogicCell: Instance.r_Count[9]_LC_21)
set_location Instance.r_Count[9] 2 6 0 # SB_DFFSR (LogicCell: Instance.r_Count[9]_LC_21)
set_location Instance.r_Count_2_cry_9_c 2 6 0 # SB_CARRY (LogicCell: Instance.r_Count[9]_LC_21)
set_location Instance.r_State_RNILDTA3 1 7 3 # SB_LUT4 (LogicCell: Instance.r_State_RNILDTA3_LC_22)
set_location Instance.r_State_RNO 1 7 6 # SB_LUT4 (LogicCell: Instance.r_State_LC_23)
set_location Instance.r_State 1 7 6 # SB_DFF (LogicCell: Instance.r_State_LC_23)
set_location Instance.r_State_RNO_0 1 6 3 # SB_LUT4 (LogicCell: Instance.r_State_RNO_0_LC_24)
set_location Instance.r_State_RNO_1 1 7 5 # SB_LUT4 (LogicCell: Instance.r_State_RNO_1_LC_25)
set_location Instance.r_State_RNO_2 1 6 5 # SB_LUT4 (LogicCell: Instance.r_State_RNO_2_LC_26)
set_location Instance.r_State_RNO_3 1 6 2 # SB_LUT4 (LogicCell: Instance.r_State_RNO_3_LC_27)
set_location Instance.r_State_RNO_4 1 6 0 # SB_LUT4 (LogicCell: Instance.r_State_RNO_4_LC_28)
set_location Instance.r_State_RNO_5 1 6 6 # SB_LUT4 (LogicCell: Instance.r_State_RNO_5_LC_29)
set_location r_LED_1_RNO 1 5 7 # SB_LUT4 (LogicCell: r_LED_1_LC_30)
set_location r_LED_1 1 5 7 # SB_DFF (LogicCell: r_LED_1_LC_30)
set_location r_Switch_1_THRU_LUT4_0 1 5 3 # SB_LUT4 (LogicCell: r_Switch_1_LC_31)
set_location r_Switch_1 1 5 3 # SB_DFF (LogicCell: r_Switch_1_LC_31)
set_location Instance.r_Count_2_cry_1_c 2 5 0 # SB_CARRY (LogicCell: Instance.r_Count_2_cry_1_c_LC_32)
set_location GND -1 -1 -1 # GND
set_io Instance.r_State_RNILDTA3_0 0 8 1 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 9 0 # ICE_GB_IO
set_io i_Switch_1_ibuf 0 9 1 # ICE_IO
set_io o_LED_1_obuf 0 2 0 # ICE_IO
